[package]
name = "librad"
version = "0.1.0"
authors = ["The Radicle Team <dev@radicle.xyz>"]
edition = "2018"
license = "GPL-3.0-or-later"

[dependencies]
async-trait = "0.1"
bit-vec = "0.6"
bs58 = "0.3"
bytes = "0.5"
directories = "3.0"
dyn-clone = "1.0"
futures-timer = "3.0"
governor = "0.3"
lazy_static = "1.4"
libc = "0.2"
log = "0.4"
multibase = "0.8"
multihash = "0.11"
nom = "5"
nonempty = "0.5"
percent-encoding = "2.1"
rand = "0.7"
rand_pcg = "0.2"
rcgen = "0.8"
regex = "1.3"
serde_bytes = "0.11"
serde_json = "1.0"
thiserror = "1.0"
tracing = "0.1"
tracing-futures = "0.2"
unicode-normalization = "0.1"
urltemplate = "0.1"
webpki = "0.21"

[dependencies.ed25519-zebra]
version = "2.1.2"
branch = "main"
git = "https://github.com/radicle-dev/ed25519-zebra"

[dependencies.either]
version = ">= 1.3, 1"
features = ["serde"]

[dependencies.futures]
version = "0.3"
features = ["thread-pool"]

[dependencies.futures_codec]
version = "0.4"
features = []

[dependencies.git2]
version = "0.13"
default-features = false
features = []

[dependencies.libgit2-sys]
version = "0.12.9"
default-features = false
features = []

[dependencies.minicbor]
version = "0.5"
features = ["std", "derive"]

[dependencies.quinn]
git = "https://github.com/djc/quinn"
rev = "babb07b079e7e3ac4ff2fa7ef25b0dac5e934377"
default-features = false
features = ["tls-rustls"]

[dependencies.radicle-keystore]
git = "https://github.com/radicle-dev/radicle-keystore"
rev = "3377e666bde3130a06dd19343e7df2eaa774176a"

# Note: this MUST always match the exact patch version `quinn` uses
[dependencies.rustls]
version = "0.18.0"
features = ["logging", "dangerous_configuration"]

[dependencies.serde]
version = "1.0"
features = ["derive"]

[dependencies.tokio]
version = "0.2"
features = ["full"]

[dependencies.tokio-util]
version = "0.3"
features = ["compat"]

[dependencies.url]
version = "2.1"
features = ["serde"]

[dependencies.yasna]
version = "0.3"
features = ["bit-vec"]

[dev-dependencies]
anyhow = "1"
assert_matches = "1"
fnv = "1"
futures-await-test = "0"
futures_ringbuf = "0"
pretty_assertions = "0"
proptest = "0"
tempfile = "3.1"

[dev-dependencies.librad-test]
path = "../librad-test"
