[package]
name = "librad"
version = "0.1.0"
authors = ["The Radicle Team <dev@radicle.xyz>"]
edition = "2018"
license = "GPL-3.0-or-later"

[dependencies]
async-stream = "0.3"
async-trait = "0.1"
backoff = "0.3"
bit-vec = "0.6"
bs58 = "0.3"
bytes = "0.5"
dashmap = "4.0"
directories = "3.0"
dyn-clone = "1.0"
futures-timer = "3.0"
globset = "0.4"
governor = ">=0.3.2"
if-watch = "0.2"
indexmap = "1.6"
lazy_static = "1"
libc = "0.2"
multibase = "0.9"
multihash = "0.11"
nom = "5"
nonempty = "0.6"
nonzero_ext = "0.2"
num_cpus = "1"
parking_lot = "0.11"
percent-encoding = "2"
picky-asn1 = "0.3"
picky-asn1-der = "0.2"
picky-asn1-x509 = "0.4"
priority-queue = "1.0"
radicle-keystore = "0"
rand = "0.7"
rand_pcg = "0.2"
regex = "1.3"
rustc-hash = "1.1"
serde_bytes = "0.11"
serde_json = "1.0"
sized-vec = "0.3"
socket2 = "0.4"
tempfile = "3.1"
thiserror = "1.0"
time = "0.2"
tracing = "0.1"
tracing-attributes = "<0.12.0, ^0.1.13"
tracing-futures = "0.2"
typenum = "1.13"
unicode-normalization = "0.1"
uuid = { version = "0.8", features = ["v4"] }
webpki = "0.21"
xorf = "0.7"

[dependencies.deadpool]
version = "0.7"
default-features = false
features = ["managed"]

[dependencies.ed25519-zebra]
git = "https://github.com/ZcashFoundation/ed25519-zebra"
rev = "0e7a96a267a756e642e102a28a44dd79b9c7df69"

[dependencies.either]
version = ">= 1.3, 1"
features = ["serde"]

[dependencies.futures]
version = "0.3"
features = ["thread-pool"]

[dependencies.futures_codec]
version = "0.4"
features = []

[dependencies.git2]
version = ">= 0.13.12, 0.13"
default-features = false
features = []

[dependencies.libgit2-sys]
version = "0.12"
default-features = false
features = []

[dependencies.minicbor]
version = ">= 0.6, 0"
features = ["std", "derive"]

[dependencies.quinn]
version = "0.7"
default-features = false
features = ["tls-rustls"]

[dependencies.radicle-data]
path = "../data"
features = ["minicbor"]

[dependencies.radicle-git-ext]
path = "../git-ext"
features = ["serde", "minicbor"]

[dependencies.radicle-macros]
path = "../macros"

[dependencies.radicle-std-ext]
path = "../std-ext"

# Note: this MUST always match the exact patch version `quinn` uses
[dependencies.rustls]
version  = "0.19"
features = ["logging", "dangerous_configuration"]

[dependencies.serde]
version = "1.0"
features = ["derive"]

[dependencies.tokio]
version = "1.1"
features = ["full"]

[dependencies.tokio-util]
version = "0.6"
features = ["compat"]

[dependencies.url]
version = "2.1"
features = ["serde"]

[dependencies.zeroize]
version = "1.1"
features = ["zeroize_derive"]

[dev-dependencies]
anyhow = "1"
argh = "0"
assert_matches = "1"
env_logger = "0"
fnv = "1"
futures-await-test = "0"
futures_ringbuf = "0"
log = "0.4"
nonempty = "0.6"
pretty_assertions = "0"
proptest = "0"
sha-1 = "0.9"
tracing-subscriber = ">= 0.2"

[dev-dependencies.librad-test]
path = "../librad-test"
