[package]
name = "librad"
version = "0.1.0"
authors = ["The Radicle Team <dev@radicle.xyz>"]
edition = "2018"
license = "GPL-3.0-or-later"

[dependencies]
async-trait = "0.1"
bit-vec = "0.6"
bs58 = "0.3"
bytes = "0.5"
directories = "2.0"
futures-timer = "3.0"
governor = "0.2"
hex = "0.4"
lazy_static = "1.4"
log = "0.4"
multibase = "0.8"
multihash = "0.10"
nonempty = "0.2"
olpc-cjson = "0.1"
percent-encoding = "2.1"
rand = "0.7"
rand_pcg = "0.2"
rcgen = "0.7"
regex = "1.3"
secstr = "0.3"
serde_json = "1.0"
sha2 = "0.8"
sodiumoxide = "0.2"
tempfile = "3.1"
thiserror = "1.0"
tracing = "0.1"
urltemplate = "0.1"
webpki = "0.21"

[dependencies.futures]
version = "0.3"
features = ["thread-pool"]

[dependencies.futures_codec]
version = "0.4"
features = ["cbor"]

[dependencies.git2]
version = "0.12"
default-features = false
features = []

[dependencies.libgit2-sys]
version = "0.11"
default-features = false
features = []

[dependencies.minicbor]
version = "0.4"
features = ["std", "derive"]

[dependencies.quinn]
version = "0.6"
default-features = false
features = ["tls-rustls"]

[dependencies.radicle-keystore]
path = "../radicle-keystore"

[dependencies.radicle-surf]
git = "https://github.com/radicle-dev/radicle-surf"
rev = "c8d72ffcdce071c7c0f5c9f6028207eb89d9fd30"

[dependencies.rustls]
version = "0.17"
features = ["logging", "dangerous_configuration"]

[dependencies.serde]
version = "1.0"
features = ["derive"]

[dependencies.tokio]
version = "0.2"
features = ["full"]

[dependencies.tokio-util]
version = "0.3"
features = ["compat"]

[dependencies.url]
version = "2.1"
features = ["serde"]

[dependencies.yasna]
version = "0.3"
features = ["bit-vec"]

[dev-dependencies]
anyhow = "1.0"
env_logger = "0.7"
fnv = "1.0"
futures-await-test = "0.3"
futures_ringbuf = "0.2"
matches = "0.1"
proptest = "0.9"
tracing-subscriber = "0.2"
