[package]
name = "lnk-exe"
version = "0.1.0"
authors = [ "Fintan Halpenny <fintan.halpenny@gmail.com>" ]
edition = "2018"
license = "GPL-3.0-or-later"

[lib]
doctest = false
test = false

[dependencies]
anyhow = "1.0"

[dependencies.clap]
version = "3"
features = [ "derive", "env" ]

[dependencies.librad]
path = "../../librad"

[dependencies.lnk-clib]
path = "../lnk-clib"

[dependencies.lnk-identities]
path = "../lnk-identities"

[dependencies.lnk-profile]
path = "../lnk-profile"

[dependencies.lnk-sync]
path = "../lnk-sync"

[dependencies.lnk-thrussh-agent]
version = "0.1.0"
default-features = false

[dependencies.tokio]
version = "1.17"
features = ["rt"]

[dependencies.tracing-subscriber]
version = "0.3.0"
features = ["std", "env-filter", "fmt"]
